<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bourbon">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <activity android:name=".activities.barathan_activities.user_data"></activity>

        <activity android:name=".activities.clement_activities.Main_menu" />
        <activity android:name=".activities.clement_activities.Startact"/>
        <activity android:name=".activities.harish_activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Launcher Denotes that it will be the first launching activity -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.clement_activities.YoutubePlay" />
        <activity android:name=".activities.clement_activities.YoutubeList" />
        <activity android:name=".activities.clement_activities.Voip" />
        <activity android:name=".activities.clement_activities.Verifi" />
        <activity android:name=".activities.clement_activities.Upi_payments" />
        <activity android:name=".activities.clement_activities.Main2Activity" />
        <activity android:name=".activities.arumugam_activities.MainActivity" />

        <service
            android:name=".activities.clement_activities.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".activities.arumugam_activities.GeofenceBroadcastReceiver" />
    </application>

</manifest>